<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TestConnectString" providerName="System.Data.SqlClient"
		connectionString="Data Source=SQL5104.site4now.net;Initial Catalog=db_a73251_eggplant;User Id=db_a73251_eggplant_admin;Password=Etp-9vz-E9n-ggM"></add>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>